body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  /* background: var(--DarkColor); */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

:root {
  --RibbonHeight: 48px;
  --HeaderHeight: 48px;

  --HeaderSize: 18px;
  --HeaderWeight: 600;

  --LargeSize: 18px;
  --SmallSize: 14px;

  --TextColor: #eeeeee;
  --LightColor: #36393f;
  --MediumColor: #2f3136;
  --DarkColor: #202225;
  --ButtonColor: #40444B;
  --LightButtonColor: #5A5E65;
  --CardColor: #2F3136;
  --HighlightColor: #7289da;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--LightColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ButtonColor);
}

* {
  outline: none;
  user-select: none;
}